
# Banco de dados
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# API
APP_URL=
PORT=


JWT_SECRET=

##Acess Token MP
MP_BLA=

# Criptografar CPF
ENCRYPTION_KEY=


#Node mailer quando pedido == aprovado
EMAIL_USER=#Quem envia email
EMAIL_PASS=#Senha do user
EMAIL_LOJA=#loja que recebe email